{% extends 'base.html' %}
{% block content %}
    <h1>About</h1>
    <a href="{% url 'index' %}">Return Home</a>
    This site is the culmunative project of the MREN 318 Sensors and Actuators course
    created by Nathan Duncan, Daniel Poon, and Tony Yang

    The home page features a display table of pets.
    Each pet can be given a serving size in grams and up to two serving times per day.
    Serving size is to be entered as an integer in grams, less than 5000 g.
    Serving times are to be entered in the form hour hour minute minute using military time.
    
{% endblock %}